.form-center{
    margin:auto;
    height: 50vh;
    padding-top:10vh;
    float:none;  /* annule le float:left de bootstrap*/
}

.height-full {    
    height:100vh;

}

.main {
    height:100vh;
}


.footer {
    height:8vh;
}

.content-principal {
    padding-top:65px;
}

.header {
    padding-left:90vh;
    height:7vh;
}

.logo-accueil {
    padding-top:3vh;
    padding-left:37vh;
    height:15vh;
    width:85vh;
}

.profil {
    margin-left:6vh;
}