.form-center{
    margin:auto;
    height: 50vh;
    padding-top:10vh;
    float:none;  /* annule le float:left de bootstrap*/
}

.height-full {    
    height:100vh;

}

.main {
    height:100vh;
    padding-bottom:7vh;
}


.footer {
    height:8vh;
}

.content-principal {
    padding-top:7vh;
}

.header {
    padding-left:90vh;
    height:7vh;
}

.logo-accueil {
    padding-top:3vh;
    padding-left:37.5vh;
    height:15vh;
    width:85vh;
}