.form-login{
    margin:auto;
    height: 50vh;
    padding-top:10vh;
    float:none;  /* annule le float:left de bootstrap*/
}

.form-signin{
    margin:auto;
    height: 50vh;
    padding-top:6vh;
    float:none;  /* annule le float:left de bootstrap*/
}

.height-full {    
    min-height:100vh;

}

.main {
    height:100vh;
}


.footer {
    height:8vh;
}

.content-principal {
    padding-top:65px;
}

.header {
    padding-left:90vh;
    height:7vh;
}

.logo-accueil {
    margin:auto;
    margin-top:5vh;
    height:100px;
    width:400px;
}

.logo-profile {
    padding-top:10px;
    margin:auto;
    height:200px;
    width:200px;
}
.messsages-profile {
    padding-top:30px;
}

.flux {
    max-height: 90vh;
}
.profil {
    margin-left:6vh;
}

.card-profile {
    margin-top:1vh;
    margin-left:1vh;
    height: 250px;
}
.card-stats {
    margin-top:1vh;
    margin-left:1vh;
    height: 500px;
}